* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #a7a7bd52 ;
  height: 650px;
  width: 100%;
}
.overlay {
  background-color: #000000cc;
  height: 650px;
  position: absolute;
  width: 100%;
}
.inner-box {
  margin-left: 317px;
  margin-top: 120px;
  background-color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 50%;
  border-radius: 30px;
}
p {
  color: gray;
  padding: 0px;
}
h4 {
  text-align: center;
  margin-top: 0px;
  font-weight: 800;
  font-size: 25px;
  color: #337ab7;
}
h5 {
  font-size: 20px;
  margin-top: 25px;
}
#lockicon {
  margin-left: 340px;
  font-size: 35px;
  position: absolute;
  color: #337ab7;
}
#loginbutton {

}
#password {
  background-color: #a7a7bd52;
}
#username {
  background-color: #a7a7bd52;

}
.support {
  width: 50%;
  margin-left: 140px;
  margin-top: 30px;
  font-size: 15px;
}
.Remember {
  position: relative;
  cursor: pointer;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #eee;
}
.col-md-6.forgot {
  padding-left: 0px;
}
@media (min-device-width: 769px) and (max-device-width: 1200px){
  .inner-box {
    margin: auto;
    margin-top: 120px;
    width: 100%;
  }
  #lockicon {
    margin-left: 140px;
  }
  .support{
    margin-left: 277px;
  }
}
@media (max-device-width: 768px) {
  .inner-box {
    margin: auto;
    margin-top: 120px;
    width: 100%;
  }
  #lockicon {
    margin-left: 180px;
  }
  .col-md-6.forgot{
    float: right;
    margin-top: -26px;
  }
  .Remember{
    margin-left: -115px
  }
}
